.plotly-figure {
  margin: 2rem 0;
}

.plotly-chart {
  min-height: 24rem;
  width: 100%;
}

.plotly-chart .updatemenu-button.plotly-update-menu-active .updatemenu-item-rect,
.plotly-chart .updatemenu-button:hover .updatemenu-item-rect {
  fill: var(--tertiary) !important;
}

.plotly-fallback {
  color: var(--secondary);
  font-style: italic;
}
